/* File: login_page.html
    Author: Lisi Cao
    Date: August 31, 2023
    Description: click button "login", turn to page login.
    Contact: lisi.cao@johnabbottcollege.net
    Copyright: 2023 
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    inline-size: 1.5;
    width: 100%;
}

nav {
    background-color: black;
    width: 100%;
    height: 60px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    height: 60px;
    padding: 0 30px;
}

.nav_left_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_left_container .item{
    margin-right:30px;
}

.nav_left_container input{
    margin-left: 30px;
    background-color: #151515;
    border-radius: 25px;
    font-size: smaller;
    width: 300px;
    height: 40px;
    text-indent: 20px;
    border: 0.5px solid #151515 ;
    outline: none;
    box-shadow: none;
}

.nav_right_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-btn, .cart-btn{
    cursor: pointer;
    margin-right: 30px;
    background-color: black;
    color:lightgrey;
    font-weight: 900;     
    border: none;           
    outline: none;                 
    padding: 0;                      
    font: inherit;          
    text-align: inherit;
}

.login-modal{
    display: none;
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-modal .container{
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 500px; 
    height: 400px;
    background-color: #FBFBFB;
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1001; 
    gap: 20px;
}


.login-modal .container > :first-child {
    align-self: flex-end;
    cursor: pointer;
    height: 40px;
}

.login-modal .container > :not(:first-child) {
    align-self: center;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 20px;
}

.header_container .new_account_container{
    font-size: smaller;
    color: lightslategrey;
}

.header_container .new_account_container a{
    text-decoration: underline;
    font-weight: 700;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 180px;
    padding: 0 20px;

}

.input-container {
    position: relative;
    width: 100%;
    height: 100%
}

 .input-container label {
    position: absolute;
    background: white;
    padding: 0 5px;
    font-size: 18px;
    color: darkgrey;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;  /* 使label不会拦截鼠标事件 */
    transition: all 0.3s;
}
.input-container input{
    height: 100%;
    width: 100%;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    text-indent: 20px;
    outline: none;
    box-shadow:none;
} 

.input-container.focused label {
    top: -6px; 
    left: 10px;
    font-size: 12px;
    transform: translateY(0);
}

.input-container input:focus {
    outline: none;
    border-color: lightgrey; 
}


.submit-btn {
    width:20%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    font-size: 12px;
    color: rgb(128, 128, 128);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
} 






